<nav class="navbar navbar-light bg-light justify-content-between">
 <h1>All lists</h1>
 <div>
  <%= link_to "My lists", lists_path , class: "btn btn-primary"%>
  <%= link_to "New list", new_list_path , class: "btn btn-primary mx-2"%>
 </div>
</nav>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 500, width: 500%>')">
  <div class="container">
   <h1 class=' text-center m-4 p-4'><%= @list.name %></h1>
  </div>
</div>





<div class="container">
<nav class="navbar navbar-light bg-light justify-content-between">
 <h1></h1>
 <%= link_to "Add a movie", new_list_bookmark_path(@list) , class: "btn btn-success my-2"%>
</nav>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <div class='card m-2' style="max-width: 18rem;">
    <%movie = Movie.find(bookmark.movie_id) %>
      <img src=<%=movie.poster_url%> alt="" style="max-width: 18rem; height: 300px;">
      <p class='m-2'><strong>Overview</strong>: <%=movie.overview  %></p>
      <p class='m-2 border'>Rating: <strong><%=movie.rating%></strong></p>
      <div class=" card-footer d-flex bg-light  justify-content-between">
            <p class='my-2'>Comment: <strong><%=bookmark.comment %></strong></p>
            <%= link_to bookmark_path(@list) , data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "text-danger m-2" do%>
              <i class="fa-solid fa-trash-can"></i>
              <% end %>
      </div>
      </div>
  <% end %>
</div>






</div>
